# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Alembic cache
migrations/__pycache__/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# SQLite (if ever used)
*.db
*.sqlite3

# Build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/